@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}

<div class="container main-content">
    
    <h3 class="mb-4">@Umbraco.Field("termName")</h3>
    
    <h4 class="mb-4">@Umbraco.Field("status")</h4>
    
    <div class="row mb-4">
        <div class="col">
            <h4>Description</h4>
            @Umbraco.Field("description")
        </div>
        
    </div>
    <div class="row mb-4">
        <div class="col">
            <h4>Interpretation / Usage Notes</h4>
            @Umbraco.Field("interpretationUsageNotes")
        </div>
        
    </div>
    <div class="row mb-4">
        <div class="col">
            <h4>Potential Values</h4>
            @Umbraco.Field("potentialValues")
        </div>
        
    </div>
    <div class="row mb-4">
        <div class="col">
            <h4>Source Description</h4>
            @Umbraco.Field("sourceDescription")
        </div>
        
    </div>
   

</div>
